{% extends "layouts/base_sections.html" %}

{% block title %}Cook: {{ cook }}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{{ cook }}</h1>
    
    <div class="card mt-4">
        <div class="card-body">
            <p class="card-text"><strong>Years of Experience:</strong> {{ cook.years_of_experience }}</p>
        </div>
    </div>
    
    <div class="text-center mt-4">
        <a href="{% url 'restaurant_kitchen:cook_update' cook.pk %}" class="btn btn-warning me-2">Edit</a>
        <a href="{% url 'restaurant_kitchen:cook_delete' cook.pk %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}
