{% extends "layouts/base_sections.html" %}

{% block title %}Cook List{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-white ">Cook List</h1>

    <div class="container mb-4 ">
        <form method="get" action="{% url 'restaurant_kitchen:cook_list' %}" class="mb-3 align-items-center d-flex flex-column align-items-center">
            <input
                type="text"
                name="q"
                class="form-control w-40 "
                placeholder="Search Cooks..."
                value="{{ query|default:'' }}"
            >
          <div style="height: 15px;"></div>
          <button type="submit" class="btn btn-dark search-btn ">Search</button>
        </form>
    </div>

    <div class="container mb-4 w-65">
        <ul class="list-group">
            {% for cook in cooks %}
                <li class="list-group-item">
                    <a href="{% url 'restaurant_kitchen:cook_detail' cook.pk %}" class="text-decoration-none">
                        {{ cook }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="container text-center mt-3">
        <a href="{% url 'restaurant_kitchen:cook_create' %}" class="btn btn-primary">Add new Cook</a>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}


