{% extends "layouts/base_sections.html" %}

{% block title %}Dish Type List{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-white ">Dish Type List</h1>
    

    <div class="container mb-4">
        <form method="get" action="{% url 'restaurant_kitchen:dish_type_list' %}" class="mb-3 align-items-center">
            <input
                type="text"
                name="q"
                class="form-control w-20"
                placeholder="Search Dish Types..."
                value="{{ query|default:'' }}"
            >
          <div style="height: 15px;"></div>
            <button type="submit" class="btn btn-dark search-btn">Search</button>
        </form>
    </div>
    

    <div class="container mb-4">
        <ul class="list-group">
            {% for dish_type in dish_types %}
                <li class="list-group-item">
                    <a href="{% url 'restaurant_kitchen:dish_type_detail' dish_type.pk %}" class="text-decoration-none">
                        {{ dish_type.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>


    <div class="container text-center mt-3">
        <a href="{% url 'restaurant_kitchen:dish_type_create' %}" class="btn btn-primary">Add new Dish Type</a>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}

<style>
    .search-btn {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .form-control {
        height: auto;
    }
</style>
