<div class="pt-3 pb-4" id="count-stats">
  <a href="{% url 'logout' %}" class="btn"
     style="background-color: #FF69B4; color: white; border: none; padding: 10px 20px; text-align: center; display: inline-block; border-radius: 5px; text-decoration: none;">
    Log out
  </a>
  <h4 class="text-primary">Navigation</h4>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'restaurant_kitchen:cook_list' %}">Cooks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'restaurant_kitchen:dish_list' %}">Dishes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'restaurant_kitchen:dish_type_list' %}">Dish Types</a>
    </li>
  </ul>
</div> 
